.chart-container {
  position: relative;
  height: 30vh; /* 30% da altura da tela */
  width: 90%; /* Largura máxima para o gráfico */
  margin: 20px auto; /* Centraliza o container */
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}
