<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav"
    [attr.role]="(isDispositivoMovel | async) ? 'dialog' : 'navigation'"
    [mode]="(isDispositivoMovel | async) ? 'over' : 'side'"
    [opened]="(isDispositivoMovel | async) === false">

    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      @for (itemMenu of menuItems; track itemMenu.route) {
        <a mat-list-item [routerLink]="itemMenu.route"
          (click)="onMenuItemClickIsMobile(); onMenuItemClick(itemMenu)">
          <div style="display: flex; align-items: center;">
            <mat-icon>{{ itemMenu.icon }}</mat-icon>
            <span class="nav-item-text" style="margin-left: 10px;">{{ itemMenu.label }}</span>
          </div>
        </a>
      }
</mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    
    <mat-toolbar color="primary">
      @if (isDispositivoMovel | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

  <div class="page-header">

    <div class="cabecalho">
      @for (part of cabecalhoPagina; track $index; let isLast = $last) {
        <span>{{ part }}</span>
        @if (!isLast) {
          <span class="breadcrumb-separator">&gt;</span>
        }
      }
    </div>

    <span class="toolbar-spacer"></span>

    @if (usuarioLogado) {
      <div class="user-profile">
        <span>{{ usuarioLogado }}</span> <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do usuário">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()"> <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </div>
    }

  </div>
</mat-toolbar>



    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>